In [1]:
%matplotlib inline
import pandas as pd

In [4]:
#from IPython.core.display import HTML
#css = open('style-table.css').read() + open('style-notebook.css').read()
#HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [11]:
print(titles.shape[0],' movies are listed in the title dataframe')

244914  movies are listed in the title dataframe

### What are the earliest two films listed in the titles dataframe?

In [17]:
df= titles.sort_values(by = ['year'])
print('The earliest two films listed in the titles dataframe are :-')
df.head(2)

The earliest two films listed in the titles dataframe are :-

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [25]:
titles[titles['title']=='Hamlet'].count()

title    20
year     20
dtype: int64

### How many movies are titled "North by Northwest"?

In [26]:
titles[titles['title']=='North by Northwest'].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [28]:
df1 = titles[titles['title']=='Hamlet'].sort_values(by = 'year')
df1.head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [29]:
df2 = titles[titles['title']=='Treasure Island'].sort_values(by = 'year')
df2

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [31]:
titles[titles['year']==1950].count()

title    1113
year     1113
dtype: int64

### How many movies were made in the year 1960?

In [32]:
titles[titles['year']==1960].count()

title    1549
year     1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [35]:
titles[(titles['year']>=1950) & (titles['year']<=1959)].count()

title    12934
year     12934
dtype: int64

### In what years has a movie titled "Batman" been released?

In [36]:
df3 = titles[titles['title']=='Batman']
df3['year']

39349     1943
240896    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [37]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [44]:
df4 = cast[cast['title']=='Inception']
df4['character'].count()

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [45]:
df4['n'].isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [46]:
df4['n'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [72]:
df5 = cast[cast['title']=='North by Northwest']
b = df5.dropna(axis=0,subset=['n'])
b.sort_values(by = 'n')
list(b['name'])

['Edward Binns',
 'Leo G. Carroll',
 'Philip Coolidge',
 'Robert Ellenstein',
 'Cary Grant',
 'Martin Landau',
 'Ken Lynch',
 'James Mason',
 'Patrick McVey',
 'Philip Ober',
 'Edward Platt',
 'Les Tremayne',
 'Adam Williams',
 'Josephine Hutchinson',
 'Jessie Royce Landis',
 'Eva Marie Saint']

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [73]:
df6 = cast[(cast['title']=='Sleuth') & (cast['year']==1972)]
df6.sort_values(by = 'n')
list(df6['name'])

['Michael Caine',
 'Alec Cawthorne',
 'Teddy Martin',
 'John (II) Matthews',
 'Laurence Olivier',
 'Eve (III) Channing']

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [74]:
df7 = cast[(cast['title']=='Sleuth') & (cast['year']==2007)]
df7.sort_values(by = 'n')
list(df7['name'])

['Kenneth Branagh',
 'Michael Caine',
 'Alec (II) Cawthorne',
 'Jude Law',
 'Harold Pinter',
 'Eve (II) Channing',
 "Carmel O'Sullivan"]

### How many roles were credited in the silent 1921 version of Hamlet?

In [77]:
df7 = cast[(cast['title']=='Hamlet') & (cast['year']==1921)]
df7['character'].count()

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [78]:
df8 = cast[(cast['title']=='Hamlet') & (cast['year']==1996)]
df8['character'].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [79]:
df9 = cast[(cast['title']=='Hamlet')]
df9['character'].count()

342

### How many people have played an "Ophelia"?

In [81]:
df10 = cast[cast['character']=='Ophelia']
df10['name'].drop_duplicates().count()

115

### How many people have played a role called "The Dude"?

In [82]:
df10 = cast[cast['character']=='The Dude']
df10['name'].drop_duplicates().count()

19

### How many people have played a role called "The Stranger"?

In [86]:
df11 = cast[cast['character']=='The Stranger']
df11['name'].drop_duplicates().count()

202

### How many roles has Sidney Poitier played throughout his career?

In [89]:
df12 = cast[cast['name']=='Sidney Poitier']
df12['character'].drop_duplicates().count()
# roles can be same so we count different types of roles by removing duplicates

41

### How many roles has Judi Dench played?

In [91]:
df13 = cast[cast['name']=='Judi Dench']
df13['character'].drop_duplicates().count()

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [95]:
df14 = cast[(cast['name']=='Cary Grant')&(cast['n']==2.0)&(cast['year']>=1940)&(cast['year']<=1949)]
df14.sort_values(by='year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [96]:
df15 = cast[(cast['name']=='Cary Grant')&(cast['n']==1.0)&(cast['year']>=1940)&(cast['year']<=1949)]
df15.sort_values(by='year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [99]:
df16= cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actor')]
df16['character'].count()

157738

### How many roles were available for actresses in the 1950s?

In [101]:
df16= cast[(cast['year']>=1950)&(cast['year']<=1959)&(cast['type']=='actress')]
df16['character'].count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [102]:
df17 = cast[(cast['n']==1.0)&(cast['year']>=1980)]
df17['character'].count()

NameError: name 'year' is not defined

### How many non-leading roles were available through from the beginning of film history through 1980?

In [104]:
df17 = cast[(cast['n']!=1.0)&(cast['year']>=1980)]
df17['character'].count()

2537565

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [111]:
df18 = cast[(cast['n'].isna())&(cast['year']>=1980)]
df18['character'].count()

1014692