### Importing packages

In [1]:
import pandas as pd
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import confusion_matrix,accuracy_score

### Loading the dataset

In [12]:
data = pd.read_csv('train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
data = data.drop(['Name','Ticket','Cabin','PassengerId'],axis=1)
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

### Converting text to num

In [14]:
le = preprocessing.LabelEncoder()
data['Sex'],data['Embarked'] = le.fit_transform(data['Sex']),le.fit_transform(data['Embarked'])

### Build the model

In [15]:
data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [17]:
f = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']
for i in f:
    y = data[i]
    X = data.drop([i],axis=1)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    clf=svm.SVC(gamma=0.01,C=100)
    y_pred = clf.fit(X_train,y_train).predict(X_test)
    print("Accuracy score when ",i," is DV: ",accuracy_score(y_test,y_pred,normalize=True))
    print("Confusion matrix when ",i," is DV: \n",confusion_matrix(y_test,y_pred),"\n")

Accuracy score when  Survived  is DV:  0.7415730337078652
Confusion matrix when  Survived  is DV:
 [[124  33]
 [ 36  74]]

Accuracy score when  Pclass  is DV:  0.9026217228464419
Confusion matrix when  Pclass  is DV:
 [[ 64   4   2]
 [  4  36   9]
 [  1   6 141]]

Accuracy score when  Sex  is DV:  0.7265917602996255
Confusion matrix when  Sex  is DV:
 [[ 66  32]
 [ 41 128]]

Accuracy score when  SibSp  is DV:  0.7490636704119851
Confusion matrix when  SibSp  is DV:
 [[150  24   7   0   1   0   0]
 [ 21  39   5   0   0   0   0]
 [  4   1   3   0   0   0   0]
 [  0   2   1   3   1   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

Accuracy score when  Parch  is DV:  0.797752808988764
Confusion matrix when  Parch  is DV:
 [[187   6   5   0   0   0]
 [ 21  15   3   0   0   1]
 [ 10   6  11   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]

Accuracy score when  Embarked  is DV:  0.7677902621722846
Confusion matrix when  Embarked  is DV:
 [[ 23   2  24]
 [  0   8  14]
 [ 18   4 174]]