### Importing packages

In [3]:
import pandas as pd
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import *
from sklearn.metrics import confusion_matrix,accuracy_score

### Loading the dataset

In [17]:
data = pd.read_csv('train.csv')

data = data.drop(['PassengerId','Name','Age','Ticket','Fare','Cabin'],axis=1)
data.head()

   Survived  Pclass     Sex  SibSp  Parch Embarked
0         0       3    male      1      0        S
1         1       1  female      1      0        C
2         1       3  female      0      0        S
3         1       1  female      1      0        S
4         0       3    male      0      0        S

### Converting text to num

In [18]:
le = preprocessing.LabelEncoder()
data['Sex'],data['Embarked'] = le.fit_transform(data['Sex']),le.fit_transform(data['Embarked'])

In [19]:
data.head()

   Survived  Pclass  Sex  SibSp  Parch  Embarked
0         0       3    1      1      0         2
1         1       1    0      1      0         0
2         1       3    0      0      0         2
3         1       1    0      1      0         2
4         0       3    1      0      0         2

### Building the model

In [20]:
data.columns

Index(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], dtype='object')

In [34]:
for i in data:
    y = data[i]
    X = data.drop([i],axis=1)
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
    clf=BernoulliNB()
    y_pred = clf.fit(X_train,y_train).predict(X_test)
    print("Accuracy score when ",i," is DV: ",accuracy_score(y_test,y_pred,normalize=True))
    print("Confusion matrix when ",i," is DV: \n",confusion_matrix(y_test,y_pred),"\n")

Accuracy score when  Survived  is DV:  0.7715355805243446
Confusion matrix when  Survived  is DV:
 [[131  26]
 [ 35  75]]

Accuracy score when  Pclass  is DV:  0.5880149812734082
Confusion matrix when  Pclass  is DV:
 [[ 26  10  34]
 [  8  10  31]
 [ 20   7 121]]

Accuracy score when  Sex  is DV:  0.7453183520599251
Confusion matrix when  Sex  is DV:
 [[ 49  49]
 [ 19 150]]

Accuracy score when  SibSp  is DV:  0.6891385767790262
Confusion matrix when  SibSp  is DV:
 [[162  20   0   0   0   0   0]
 [ 43  22   0   0   0   0   0]
 [  6   2   0   0   0   0   0]
 [  5   2   0   0   0   0   0]
 [  2   0   0   0   0   0   0]
 [  1   0   0   0   0   0   0]
 [  2   0   0   0   0   0   0]]

Accuracy score when  Parch  is DV:  0.7153558052434457
Confusion matrix when  Parch  is DV:
 [[182  16   0   0   0]
 [ 31   9   0   0   0]
 [ 24   3   0   0   0]
 [  1   0   0   0   0]
 [  1   0   0   0   0]]

Accuracy score when  Embarked  is DV:  0.7340823970037453
Confusion matrix when  Embarked  is DV:
 [[  0   0  49]
 [  0   0  22]
 [  0   0 196]]